<app-navbar></app-navbar>

<div class="contenedor">
    <div>
        <div class="row text-right">
            <img src="\assets\images\log.png" width="15%" height="15%" class="rounded float-left mr-5" alt="...">
            <h1>Registros</h1>
            <div class="col text-right">
                <button class="btn btn-danger" routerLink="/home">
                <i class="fa fa-arrow-left mt-3"></i> Regresar
            </button>
            </div>
        </div>
    </div>
    <hr>

    <!-- -------------------CARGANDO------------------- -->

    <div *ngIf="!cargando && rentas.length === 0" class="alert alert-warning text-center mt-3">
        <h4 class="alert-heading">No se encontraron registros</h4>
        <p style="margin-left:550px">
            <i class="fa fa-exclamation-circle fa-2x"></i>
        </p>
    </div>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">Cargando...</h4>
        <p style="margin-left:550px">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere por favor
        </p>
    </div>

    <!-- -------------------TABLA------------------- -->

    <div id="div1">

        <table *ngIf="!cargando && rentas.length > 0" class="table mt-4 animated fadeIn faster text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Licencia</th>
                    <th scope="col">Auto</th>
                    <th scope="col">Placas</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Dias</th>
                    <th scope="col">Total</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let renta of rentas; let i = index">
                    <td scope="row">{{ i + 1 }}</td>
                    <td>{{ renta.email }}</td>
                    <td>{{ renta.nombre}} {{ renta.apellido1 }} {{ renta.apellido2 }}</td>
                    <td>{{ renta.telefono }}</td>
                    <td>{{ renta.direccion }}</td>
                    <td>{{ renta.licencia }}</td>
                    <td>{{ renta.marca }} {{renta.modelo}}</td>
                    <td>{{ renta.placas }}</td>
                    <td>${{ renta.monto }}</td>
                    <td>{{ renta.dias }}</td>
                    <td>${{ renta.dias*renta.monto}}</td>
                    <td>{{ renta.fecha | date:'short'}}</td>
                    <td>
                        <button class="btn btn-sm btn-danger" (click)="delete(renta)"><i class="fa fa-trash mt-3"></i></button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>