<app-navbar></app-navbar>

<div class="contenedor">
    <div class="col text-right">
        <button class="btn btn-danger" routerLink="/catalogo">
        <i class="fa fa-arrow-left"></i> Regresar
    </button>
    </div>

    <div id="imp" class="m-5">

        <div>
            <img src="assets/images/ac.png" width="30%" height="30%" />
            <div class="ui-g-3 logo-adress" style="width: 23%;">
                AutoCenter, Orizaba, Ver. #1479<br> Teléfono(s): 272 784 7515, 72 54 659
            </div>

            <h1 class="text-right">NOTA DE RESERVACION</h1>

        </div>


        <hr>

        <table class="table table-bordered text-center mb-4 border-darken-2">
            <thead class="thead-light">
                <tr>
                    <th colspan="5">Datos del cliente</th>
                </tr>
                <tr>
                    <th colspan="2">Cuenta</th>
                    <th colspan="2">Cliente</th>
                    <th>Licencia</th>
                </tr>
                <tr>
                    <td colspan="2">{{ email }}</td>
                    <td colspan="2">{{ nombre }} {{ apellido1 }} {{ apellido2 }}</td>
                    <td>{{ licencia }}</td>
                </tr>
                <tr>
                    <th colspan="3">Dirección</th>
                    <th colspan="2">Teléfono</th>
                </tr>
                <tr>
                    <td colspan="3">{{ direccion }}</td>
                    <td colspan="2">{{ telefono }}</td>
                </tr>
                <tr>
                    <th colspan="5">Datos del auto</th>
                </tr>
                <tr>
                    <th>Placas</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Color</th>
                    <th>Monto</th>
                </tr>
                <tr>
                    <td> {{ rentaRecibida.placas }} </td>
                    <td> {{ rentaRecibida.modelo }} </td>
                    <td> {{ rentaRecibida. marca }} </td>
                    <td> {{ rentaRecibida.color }} </td>
                    <td> ${{ rentaRecibida.monto }} </td>
                </tr>
                <tr>
                    <th colspan="5">Datos de reserva</th>
                </tr>
                <tr>
                    <th colspan="1">D&iacute;as</th>
                    <th colspan="2">Total</th>
                    <th colspan="3">Fecha</th>
                </tr>
                <tr>
                    <td colspan="1"> {{ rentaRecibida.dias }} </td>
                    <td colspan="2"> ${{ rentaRecibida.monto * rentaRecibida.dias }} </td>
                    <td colspan="3">{{ rentaRecibida.fecha | date:'medium'}}</td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="col text-center">
        <label> <b>!GRACIAS POR SU RESERVACIÓN¡</b></label>
    </div>
    <br>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25" (click)="imprimir()">
            Imprimir
        </button>
    </div>
</div>


<style>
    @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Bree Serif', serif;
    }
</style>