<app-navbar></app-navbar>

<div class="contenedor">
    <div>
        <div class="row text-right">
            <img src="\assets\images\log.png" width="15%" height="15%" class="rounded float-left mr-5" alt="...">
            <h1>{{ auto.marca }} <small>{{ auto.modelo }}</small></h1>
            <div class="col text-right">
                <button class="btn btn-danger" routerLink="/autos">
                <i class="fa fa-arrow-left"></i> Regresar
            </button>
            </div>
        </div>
    </div>
    <hr class="mb-4 mt-4">



    <form (ngSubmit)="guardar( f )" #f="ngForm">

        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" placeholder="Este campo es autogenerado" [(ngModel)]="auto.id" name="id" disabled="disabled">
            <!-- <small class="form-text text-muted">Este campo es autogenerado</small> -->
        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Modelo</label>
                    <input type="text" class="form-control" placeholder="Modelo del auto" [(ngModel)]="auto.modelo" name="modelo" required>
                </div>
            </div>

            <div class="col-sm-6">
                <label>Marca</label>
                <select class="custom-select" [(ngModel)]="auto.marca" placeholder="Marca del auto" type="text" name="marca" required>
                    <option value="AUDI">AUDI</option>
                    <option value="BMW">BMW</option>
                    <option value="CHEVROLET">CHEVROLET</option>
                    <option value="CHRYSLER">CHRYSLER</option>
                    <option value="DODGE">DODGE</option>
                    <option value="FIAT">FIAT</option>
                    <option value="FORD">FORD</option>
                    <option value="HONDA">HONDA</option>
                    <option value="JEEP">JEEP</option>
                    <option value="KIA">KIA</option>
                    <option value="MAZDA">MAZDA</option>
                    <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                    <option value="MITSUBISHI">MITSUBISHI</option>
                    <option value="NISSAN">NISSAN</option>
                    <option value="PEUGEOT">PEUGEOT</option>
                    <option value="RENAULT">RENAULT</option>
                    <option value="SEAT">SEAT</option>
                    <option value="SUZUKI">SUZUKI</option>
                    <option value="TOYOTA">TOYOTA</option>
                    <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                  </select>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Placas</label>
                    <input type="text" class="form-control" placeholder="Placas del auto" [(ngModel)]="auto.placas" name="placas" required>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Capacidad</label>
                    <input type="number" class="form-control" placeholder="0" [(ngModel)]="auto.capacidad" name="capacidad" required>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Color</label>
                    <input type="text" class="form-control" placeholder="Color del auto" [(ngModel)]="auto.color" name="color" required>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Monto</label>
                    <input type="number" class="form-control" placeholder="Monto por día" [(ngModel)]="auto.monto" name="monto" required>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Características</label>
                    <input type="text" class="form-control" placeholder="Características del auto" [(ngModel)]="auto.caracteristicas" name="caracteristicas" required>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Imágen</label>
                    <input type="text" class="form-control" placeholder="URL de imágen" [(ngModel)]="auto.imagen" name="imagen" required>
                </div>
            </div>

        </div>

        <hr class="mb-4 mt-4">
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary w-30 mr-5" [disabled]="auto.capacidad<1 || !f.valid">
            <i class="fa fa-save"></i>
            Guardar
        </button>
            <button class="btn btn-secondary w-30" routerLink="/autos">Cancelar</button>
        </div>

    </form>

</div>