<app-navbar></app-navbar>

<div class="contenedor">

    <div>
        <div class="row text-right">
            <img src="\assets\images\log.png" width="10%" height="10%" class="rounded float-left mr-5" alt="...">
            <h1>Gestionar autos</h1>
            <div class="col text-right">
                <button class="btn btn-danger mr-5" routerLink="/home">
                <i class="fa fa-arrow-left mt-3"></i> Regresar
            </button>
                <button routerLink="/auto/nuevo" class="btn btn-primary">
                <i class="fa fa-plus mt-3"></i>
                    Agregar
            </button>
            </div>
        </div>
    </div>
    <hr>


    <!-- --------------------FILTROS-------------------- -->
    <div class="card mb-3">

        <article class="card-group-item">

            <div class="filter-content">
                <div class="card-body">


                    <div class="form-row">
                        <h6 class="title col-sm-3">Modelo</h6>
                        <h6 class="title col-sm-3">Marca</h6>
                        <h6 class="title col-sm-2">Capacidad</h6>
                        <h6 class="title col-sm-3">Precio</h6>
                    </div>

                    <div class="form-row mb-2">
                        <!-- --------------- FILTRO MODELO-->
                        <div class="form-group col-sm-2">
                            <input class="form-control" placeholder="Modelo" [(ngModel)]="modeloF">
                        </div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-primary mr-5" (click)="filtrarModelo(modeloF)" [disabled]="modeloF==null"> Filtrar </button>
                        </div>
                        <!-- --------------- FILTRO MARCA-->
                        <div class="form-group col-sm-2">
                            <select class="custom-select" [(ngModel)]="marcaF" name="marca" required>
                                <option value="AUDI">AUDI</option>
                                <option value="BMW">BMW</option>
                                <option value="CHEVROLET">CHEVROLET</option>
                                <option value="CHRYSLER">CHRYSLER</option>
                                <option value="DODGE">DODGE</option>
                                <option value="FIAT">FIAT</option>
                                <option value="FORD">FORD</option>
                                <option value="HONDA">HONDA</option>
                                <option value="JEEP">JEEP</option>
                                <option value="KIA">KIA</option>
                                <option value="MAZDA">MAZDA</option>
                                <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                                <option value="MITSUBISHI">MITSUBISHI</option>
                                <option value="NISSAN">NISSAN</option>
                                <option value="PEUGEOT">PEUGEOT</option>
                                <option value="RENAULT">RENAULT</option>
                                <option value="SEAT">SEAT</option>
                                <option value="SUZUKI">SUZUKI</option>
                                <option value="TOYOTA">TOYOTA</option>
                                <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                              </select>
                        </div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-primary mr-5" (click)="filtrarMarca(marcaF)" [disabled]="marcaF==null"> Filtrar </button>
                        </div>
                        <!-- --------------- FILTRO CAPACIDAD-->
                        <div class="form-group col-sm-1">
                            <select class="custom-select" [(ngModel)]="capF" type="number" name="capacidad" required>
                                <option value=2>2</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                              </select>
                        </div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-primary" (click)="filtrarCapacidad(capF)" [disabled]="capF==null"> Filtrar </button>
                        </div>
                        <!-- --------------- FILTRO PRECIO-->
                        <div class="form-group col-sm-1">
                            <input class="form-control" type="number" placeholder="Min." [(ngModel)]="minF">
                        </div>
                        <div class="form-group col-sm-1">
                            <input class="form-control" type="number" placeholder="Max." [(ngModel)]="maxF">
                        </div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-primary mr-5" (click)="filtrarMonto(minF,maxF)" [disabled]="minF==null || maxF==null"> Filtrar </button>
                        </div>

                    </div>

                    <!-- --------------- FILTRO BOTONES-->
                    <button class="btn btn-success mr-5 w-25" (click)="getAutos()"> Mostrar todos los autos </button>
                    <button class="btn btn-success mr-5 w-25" (click)="filtrarDisponibles()"> Mostrar solo autos disponibles </button>
                    <button class="btn btn-success mr-5 w-25" (click)="filtrarOcupados()"> Mostrar solo autos ocupados </button>

                    <!-- <button class="btn btn-success" (click)="filtrar(modeloF, marcaF, minF, maxF, capF)"> Buscar </button> -->

                </div>
            </div>

        </article>
    </div>


    <div id="div1" class="tabla">

        <table *ngIf="!cargando && autos.length > 0" class="table animated fadeIn faster text-center">
            <thead class="thead-dark fixed">
                <tr>
                    <th style="width:5px" scope="col">#</th>
                    <th style="width:5px" scope="col">Modelo</th>
                    <th style="width:5px" scope="col"><i class="fa fa-user"></i></th>
                    <th style="width:5px" scope="col">Marca</th>
                    <th style="width:100px" scope="col">Placas</th>
                    <th style="width:100px" scope="col">Color</th>
                    <th style="width:100px" scope="col">Caracteristicas</th>
                    <th style="width:10px" scope="col">Monto</th>
                    <th style="width:80px" scope="col">Imagen</th>
                    <!-- <th style="width:50px" scope="col">Estado</th> -->
                    <th style="width:204px" scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let auto of autos; let i = index">
                    <td scope="row">{{ i + 1 }}</td>
                    <td>{{ auto.modelo }}</td>
                    <td>{{ auto.capacidad }}</td>
                    <td>{{ auto.marca }}</td>
                    <td>{{ auto.placas }}</td>
                    <td>{{ auto.color }}</td>
                    <td>{{ auto.caracteristicas }}</td>
                    <td>${{ auto.monto }}</td>
                    <td>
                        <img class="card-img-top img-fluid" [src]="auto.imagen">
                        <label *ngIf="auto.estado" class="badge badge-success">Disponible</label>
                        <label *ngIf="!auto.estado" class="badge badge-danger">Ocupado</label></td>
                    <td>
                        <button class="btn btn-sm btn-info mr-2 s-10" data-toggle="modal" data-target="#exampleModal3" (click)="obtenerAuto(auto)">
                            <i class="fa fa-pen mt-3"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" (click)="delete(auto)">
                            <i class="fa fa-trash mt-3"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


        <!-- --------------------CARGANDO -------------------- -->

        <div *ngIf="!cargando && autos.length === 0" class="alert alert-warning text-center mt-3">
            <h4 class="alert-heading">No se encontraron registros</h4>
            <p style="margin-left:530px">
                <i class="fa fa-exclamation-circle fa-2x"></i>
            </p>
        </div>

        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">Cargando...</h4>
            <p style="margin-left:530px">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
                Espere por favor
            </p>
        </div>


        <!-------- MODAL -------->

        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">


                    <div class="modal-header" style="background-color: rgb(50, 107, 163); text-align: center;">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">{{autoid.marca}} {{autoid.modelo}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form #f="ngForm" class="ml-4 mr-4 mt-4">

                        <!-- <div class="form-group">
                            <label>Firebase ID</label>
                            <input type="text" class="form-control" placeholder="Firebase ID" [(ngModel)]="autoid.id" name="id" disabled="disabled">
                            <small class="form-text text-muted">Este campo es autogenerado</small>
                        </div> -->

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Modelo</label>
                                    <input type="text" class="form-control" placeholder="Modelo del auto" [(ngModel)]="autoid.modelo" name="modelo" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label>Marca</label>
                                <select class="custom-select" [(ngModel)]="autoid.marca" placeholder="Marca del auto" type="text" name="marca" required>
                                    <option value="AUDI">AUDI</option>
                                    <option value="BMW">BMW</option>
                                    <option value="CHEVROLET">CHEVROLET</option>
                                    <option value="CHRYSLER">CHRYSLER</option>
                                    <option value="DODGE">DODGE</option>
                                    <option value="FIAT">FIAT</option>
                                    <option value="FORD">FORD</option>
                                    <option value="HONDA">HONDA</option>
                                    <option value="JEEP">JEEP</option>
                                    <option value="KIA">KIA</option>
                                    <option value="MAZDA">MAZDA</option>
                                    <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                                    <option value="MITSUBISHI">MITSUBISHI</option>
                                    <option value="NISSAN">NISSAN</option>
                                    <option value="PEUGEOT">PEUGEOT</option>
                                    <option value="RENAULT">RENAULT</option>
                                    <option value="SEAT">SEAT</option>
                                    <option value="SUZUKI">SUZUKI</option>
                                    <option value="TOYOTA">TOYOTA</option>
                                    <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                                  </select>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Capacidad</label>
                                    <input type="number" class="form-control" placeholder="0" [(ngModel)]="autoid.capacidad" name="capacidad" required>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Color</label>
                                    <input type="text" class="form-control" placeholder="Color del auto" [(ngModel)]="autoid.color" name="color" required>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Monto</label>
                                    <input type="number" class="form-control" placeholder="Monto por día" [(ngModel)]="autoid.monto" name="monto" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Placas</label>
                                    <input type="text" class="form-control" placeholder="Placas del auto" [(ngModel)]="autoid.placas" name="placas" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <br>
                                    <button *ngIf="autoid.estado" (click)="autoid.estado = false" class="btn btn-outline-success w-100" type="button">
                                        Disponible
                                    </button>
                                    <button *ngIf="!autoid.estado" (click)="autoid.estado = true" class="btn btn-outline-danger w-100" type="button">
                                        Ocupado
                                    </button>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Características</label>
                                    <input type="text" class="form-control" placeholder="Características del auto" [(ngModel)]="autoid.caracteristicas" name="caracteristicas" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Imágen</label>
                                    <input type="text" class="form-control" placeholder="URL de imágen" [(ngModel)]="autoid.imagen" name="imagen" required>
                                    <!-- <input type="file" class="form-control" placeholder="URL de imágen" [(ngModel)]="autoid.imagen" name="imagen" required> -->
                                </div>
                            </div>

                        </div>

                        <div class="form-group text-center mt-3">
                            <button (click)="edit(autoid)" class="btn btn-primary w-30 mr-5" [disabled]="!f.valid" data-dismiss="modal">
                                <!-- <i class="fa fa-save"></i> -->
                                Guardar
                            </button>
                            <button class="btn btn-secondary w-30" data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>