<app-navbar></app-navbar>

<div class="contenedor">
    <!-- -------------------CABECERA------------------- -->
    <div>
        <div class="row text-right">
            <img src="\assets\images\log.png" width="15%" height="15%" class="rounded float-left mr-5" alt="...">
            <h1>Catálogo</h1>
            <div class="col text-right">
                <button class="btn btn-danger mr-5" routerLink="/home">
                <i class="fa fa-arrow-left mt-3"></i> Regresar
            </button>
            </div>
        </div>
    </div>
    <hr>


    <!-- --------------------FILTROS-------------------- -->

    <div class="card mb-4">

        <article class="card-group-item">

            <div class="filter-content">
                <div class="card-body">


                    <div class="form-row">
                        <h6 class="title col-sm-3">Modelo</h6>
                        <h6 class="title col-sm-3">Marca</h6>
                        <h6 class="title col-sm-2">Capacidad</h6>
                        <h6 class="title col-sm-3">Precio</h6>
                    </div>

                    <div class="form-row mb-2">
                        <!-- --------------- FILTRO MODELO-->
                        <div class="form-group col-sm-2">
                            <input class="form-control" placeholder="Modelo" [(ngModel)]="modeloF">
                        </div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-primary mr-5" (click)="filtrarModelo(modeloF)" [disabled]="modeloF==null"> Filtrar </button>
                        </div>
                        <!-- --------------- FILTRO MARCA-->
                        <div class="form-group col-sm-2">
                            <select class="custom-select" [(ngModel)]="marcaF" name="marca" required>
                                <option value="AUDI">AUDI</option>
                                <option value="BMW">BMW</option>
                                <option value="CHEVROLET">CHEVROLET</option>
                                <option value="CHRYSLER">CHRYSLER</option>
                                <option value="DODGE">DODGE</option>
                                <option value="FIAT">FIAT</option>
                                <option value="FORD">FORD</option>
                                <option value="HONDA">HONDA</option>
                                <option value="JEEP">JEEP</option>
                                <option value="KIA">KIA</option>
                                <option value="MAZDA">MAZDA</option>
                                <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                                <option value="MITSUBISHI">MITSUBISHI</option>
                                <option value="NISSAN">NISSAN</option>
                                <option value="PEUGEOT">PEUGEOT</option>
                                <option value="RENAULT">RENAULT</option>
                                <option value="SEAT">SEAT</option>
                                <option value="SUZUKI">SUZUKI</option>
                                <option value="TOYOTA">TOYOTA</option>
                                <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                              </select>
                        </div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-primary mr-5" (click)="filtrarMarca(marcaF)" [disabled]="marcaF==null"> Filtrar </button>
                        </div>
                        <!-- --------------- FILTRO CAPACIDAD-->
                        <div class="form-group col-sm-1">
                            <select class="custom-select" [(ngModel)]="capF" type="number" name="capacidad" required>
                                <option value=2>2</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                              </select>
                        </div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-primary" (click)="filtrarCapacidad(capF)" [disabled]="capF==null"> Filtrar </button>
                        </div>
                        <!-- --------------- FILTRO PRECIO-->
                        <div class="form-group col-sm-1">
                            <input class="form-control" type="number" placeholder="Min." [(ngModel)]="minF">
                        </div>
                        <div class="form-group col-sm-1">
                            <input class="form-control" type="number" placeholder="Max." [(ngModel)]="maxF">
                        </div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-primary mr-5" (click)="filtrarMonto(minF,maxF)" [disabled]="minF==null || maxF==null"> Filtrar </button>
                        </div>

                    </div>

                    <!-- --------------- FILTRO BOTONES-->
                    <button class="btn btn-success mr-5 w-25" (click)="getAutos()"> Mostrar todos los autos </button>
                    <button class="btn btn-success mr-5 w-25" (click)="filtrarDisponibles()"> Mostrar solo autos disponibles </button>

                    <!-- <button class="btn btn-success" (click)="filtrar(modeloF, marcaF, minF, maxF, capF)"> Buscar </button> -->

                </div>
            </div>

        </article>
    </div>


    <!-- -------------------CARGANDO------------------- -->

    <div *ngIf="!cargando && autos.length === 0" class="alert alert-warning text-center mt-3">
        <h4 class="alert-heading">No se encontraron registros</h4>
        <p style="margin-left:550px">
            <i class="fa fa-exclamation-circle fa-2x"></i>
        </p>
    </div>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">Cargando...</h4>
        <p style="margin-left:550px">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere por favor
        </p>
    </div>


    <!-- -------------------TARJETAS------------------- -->
    <div class="card-columns mb-4">
        <div *ngFor="let auto of autos; let i = index">

            <div class="card animated fadeIn fast">
                <img class="card-img-top img-fluid" [src]="auto.imagen" [alt]="auto.modelo">

                <div class="card-body" (click)="obtenerAuto(auto)">
                    <h4 class="card-title">{{ auto.marca }} {{ auto.modelo }}</h4>
                    <div class="row mb-1">
                        <div class="col-sm-8">
                            <h3><small class="card-text"> Renta: $ {{ auto.monto }}</small></h3>
                        </div>
                        <div class="col-sm-4">
                            <label *ngIf="auto.estado" class="badge badge-success">Disponible</label>
                            <label *ngIf="!auto.estado" class="badge badge-danger">No disponible</label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" id="agregar" data-toggle="modal" data-target="#exampleModal3" [disabled]=""> Ver detalles</button>
                </div>

            </div>
        </div>

        <!-------- MODAL -------->

        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">


                    <div class="modal-header" style="background-color: rgb(50, 107, 163); text-align: center;">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">{{autoid.marca}} {{autoid.modelo}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm mb-3"><img src="{{autoid.imagen}}" class="card-img-top img-fluid"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm mb-5">
                                <h5>Caracteristicas: </h5>{{autoid.caracteristicas}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-2">
                                <h6>Color:</h6>
                            </div>
                            <div class="col-sm-5">{{autoid.color}}</div>
                            <div class="col-sm-3">
                                <h6>Capacidad:</h6>
                            </div>
                            <div class="col-sm-1">{{autoid.capacidad}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <h6>Monto:</h6>
                            </div>
                            <div class="col-sm-2">${{autoid.monto}}</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <h6>Dias a rentar:</h6>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" [(ngModel)]="autoid.dias" style="height:25px" type="number" (keypress)="valida(autoid)" (keypress)="mayorSiete(autoid)" (keypress)="impTotal(autoid)" (keyup)="valida(autoid)" (keyup)="mayorSiete(autoid)" (keyup)="impTotal(autoid)"
                                    pattern="^\d*,?\d*$" min="1" max="7">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <h5>Total: </h5>
                            </div>
                            <div class="col-sm-2">
                                <label *ngIf="totalValido==true">${{autoid.monto*autoid.dias}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <small *ngIf="autoid.dias<0 || esDecimal==true" class="text-danger">Cantidad inválida</small>
                            <small *ngIf="esMayor==true" class="text-danger">El máximo es 7</small>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm">
                                <label *ngIf="!autoid.estado" class="badge badge-danger"><h6>Este auto no esta disponible</h6></label>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                            <div class="col-sm"><button *ngIf="autoid.estado" class="btn btn-primary btn-block" data-dismiss="modal" (click)="rentarAuto(autoid)" [disabled]="Deshabilitado || autoid.dias==0 || autoid.dias<0 || esDecimal || esMayor">Reservar</button></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>