<app-navbar></app-navbar>

<div class="contenedor">
    <div>
        <div class="row text-right">
            <img src="\assets\images\log.png" width="15%" height="15%" class="rounded float-left ml-5 mr-5" alt="...">
            <h1>Usuarios registrados</h1>
            <div class="col text-right">
                <button class="btn btn-danger" routerLink="/home">
                <i class="fa fa-arrow-left mt-3"></i> Regresar
            </button>
            </div>
        </div>
    </div>
    <hr>

    <div id="div1">

        <table *ngIf="!cargando && usuarios.length > 0" class="table mt-4 animated fadeIn faster text-center">
            <thead class="thead-dark">
                <tr>
                    <th style="width:5px" scope="col">#</th>
                    <th style="width:60px" scope="col">E-mail</th>
                    <th style="width:50px" scope="col">Nombre(s)</th>
                    <th style="width:103px" scope="col">A. Paterno</th>
                    <th style="width:109px" scope="col">A. Materno</th>
                    <th style="width:30px" scope="col">Teléfono</th>
                    <th style="width:120px" scope="col">Dirección</th>
                    <th style="width:100px" scope="col">Licencia</th>
                    <th style="width:100px" scope="col">Modificar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios; let i = index">
                    <td scope="row">{{ i + 1 }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido1 }}</td>
                    <td>{{ usuario.apellido2 }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.direccion }}</td>
                    <td>{{ usuario.licencia }}</td>
                    <td>
                        <button class="btn btn-info mr-2" data-toggle="modal" data-target="#exampleModal3" (click)="obtenerUsuario(usuario)">
                            <i class="fa fa-pen mt-2"></i>
                        </button>
                        <!-- <button class="btn btn-danger" (click)="delete(usuario)"><i class="fa fa-trash"></i></button> -->
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- --------------------CARGANDO -------------------- -->

        <div *ngIf="!cargando && usuarios.length === 0" class="alert alert-warning text-center mt-3">
            <h4 class="alert-heading">No se encontraron registros</h4>
            <p style="margin-left:550px">
                <i class="fa fa-exclamation-circle fa-2x"></i>
            </p>
        </div>

        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">Cargando...</h4>
            <p style="margin-left:550px">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
                Espere por favor
            </p>
        </div>

        <!-------- MODAL -------->

        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">


                    <div class="modal-header" style="background-color: rgb(50, 107, 163); text-align: center;">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">{{usuarioid.nombre}} {{usuarioid.apellido1}} {{usuarioid.apellido2}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                                </button>
                    </div>

                    <form #f="ngForm" class="ml-4 mr-4 mt-4">

                        <!-- <div class="form-group">
                            <label>Firebase ID</label>
                            <input type="text" class="form-control" placeholder="Firebase ID" [(ngModel)]="usuarioid.id" name="id" disabled="disabled">
                            <small class="form-text text-muted">Este campo es autogenerado</small>
                        </div> -->

                        <div class="row">

                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="text" class="form-control" placeholder="e-mail" [(ngModel)]="usuarioid.email" name="email" disabled="disabled" required>
                                </div>
                            </div> -->

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nombre(s)</label>
                                    <input type="text" class="form-control" pattern="^(?!.* $)[a-zA-Z\s]+$" placeholder="Nombre(s)" [(ngModel)]="usuarioid.nombre" name="nombre" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Apellido paterno</label>
                                    <input type="text" class="form-control" pattern="^(?!.* $)[a-zA-Z\s]+$" placeholder="Apellido paterno" [(ngModel)]="usuarioid.apellido1" name="apellido1" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Apellido materno</label>
                                    <input type="text" class="form-control" pattern="^(?!.* $)[a-zA-Z\s]+$" placeholder="Apellido materno" [(ngModel)]="usuarioid.apellido2" name="apellido2" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Direccion</label>
                                    <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="usuarioid.direccion" name="direccion" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Telefono</label>
                                    <input type="number" class="form-control" placeholder="Teléfono" pattern="^[1-9]{1}[0-9]{9}$" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]="usuarioid.telefono" name="telefono" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Licencia</label>
                                    <input type="text" class="form-control" placeholder="No. de licencia" [(ngModel)]="usuarioid.licencia" name="licencia" required>
                                </div>
                            </div>

                        </div>

                        <div class="form-group text-center mt-2">
                            <button (click)="edit(usuarioid)" class="btn btn-primary w-25" [disabled]="!f.valid" data-dismiss="modal">
                                <!-- <i class="fa fa-save"></i> -->
                                    Guardar
                            </button>
                        </div>

                    </form>

                </div>
            </div>