<app-navbar></app-navbar>

<!-- <h1 class="bienvenido text-uppercase">BIENVENDO: {{ nombre }} {{ apellido1 }}</h1> -->

<div class="contenedor">

    <div class="carrusel">

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="\assets\images\carrusel\car4.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Autos modernos a tu alcance</h3>
                        <p class="text-white">Encuentra una gran variedad de autos. Tenemos lo que estas buscando</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="\assets\images\carrusel\car3.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Sientete seguro</h3>
                        <p class="text-white">Tu seguridad es nuestra prioridad, por esos damos constante mantenimiento a nuestros vehículos</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="\assets\images\carrusel\car2.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Precios razonables</h3>
                        <p class="text-white">Todos los autos tienen un precio justo y razonable para ajustarse a tu bolsillo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="\assets\images\carrusel\car1.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Sientete seguro</h3>
                        <p class="text-white">Tu seguridad es nuestra prioridad, por esos damos constante mantenimiento a nuestros vehículos</p>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>

    <div class="row mt-4">
        <div class="col-sm-4">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Nuevos Modelos 2020</h5>
                    <img src="\assets\images\2020.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Excelente limpieza</h5>
                    <img src="\assets\images\limpio.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento periódico</h5>
                    <img src="\assets\images\mant.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>

</div>