<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="cont">

        <form (ngSubmit)="login( f )" #f="ngForm" class="form sign-in">

            <div class="logo">
                <img src="\assets\images\log.png">
            </div>

            <h2>Iniciar sesión</h2>
            <label>
                <span>E-mail</span>
                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn"> *E-mail inválido</span>
                <input type="email" name="email" [(ngModel)]="usuario.email" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+(.[a-zA-Z0-9-]+)" required>
            </label>
            <label>
                <span>Contraseña</span>
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn"> *Mínimo 6 caracteres</span>
                <input type="password" name="password" [(ngModel)]="usuario.password" minlength="6" required>
            </label>

            <label>
            <input [(ngModel)]="recordarme" id="ckb1" type="checkbox" class="checkbox" name="remember-me"> Recordarme
            </label>

            <label>
                <button class="submit" type="submit">Ingresar</button>
                    <a routerLink="/registro">¿No tienes cuenta? / Registrate</a>
            </label>

        </form>


        <div class="sub-cont">
            <div class="img">

                <div class="img-text m-up">
                    <h2>AutoCenter</h2>
                    <p>Encuentra el auto que buscas aqui</p>
                </div>

                <div class="img-btn">
                    <span routerLink="/catalog">Catalogo</span>
                </div>

            </div>
        </div>

    </div>
</body>

</html>