<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="cont">
        <form (ngSubmit)="onSubmit( f )" #f="ngForm" class="form sign-in">

            <h2>Crear nueva cuenta</h2>

            <div class="row">
                <div class="col-sm">
                    <label>
                        <span>E-mail </span>
                        <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">*E-mail inválido</span>
                        <input type="email" name="email" [(ngModel)]="usuario.email" placeholder="E-mail" pattern="" required>
                    </label>
                </div>
                <div class="col-sm">
                    <label>
                        <span>Contraseña </span>
                        <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">*Mínimo 6 caracteres</span>
                        <input type="password" name="password" [(ngModel)]="usuario.password" minlength="6" placeholder="Contraseña" required>
                    </label>
                </div>
                <div class="col-sm">
                    <label>
                        <span>Nombre </span>
                        <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn">*Nombre inválido</span>
                        <input type="text" name="nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre" pattern="[a-zA-Z\s]{2,254}" required>
                    </label>
                </div>
                <div class="col-sm">
                    <label>
                        <span>Apellido P. </span>
                        <span *ngIf="f.submitted && f.controls['apellido1'].errors" class="text-danger animated fadeIn">*Apellido inválido</span>
                        <input type="text" name="apellido1" [(ngModel)]="usuario.apellido1" placeholder="Apellido Paterno" pattern="[a-zA-Z\s]{2,254}" required>
                    </label>
                </div>
                <div class="col-sm">
                    <label>
                        <span>Apellido M. </span>
                        <span *ngIf="f.submitted && f.controls['apellido2'].errors" class="text-danger animated fadeIn">*Apellido inválido</span>
                        <input type="text" name="apellido2" [(ngModel)]="usuario.apellido2" placeholder="Apellido Materno" pattern="[a-zA-Z\s]{2,254}" required>
                    </label>
                </div>
                <div class="col-sm">
                    <label>
                        <span>Licencia </span>
                        <span *ngIf="f.submitted && f.controls['licencia'].errors" class="text-danger animated fadeIn">*Campo obligatorio</span>
                        <input type="text" name="licencia" [(ngModel)]="usuario.licencia" placeholder="Licencia" required>
                    </label>
                </div>
                <div class="col-sm">
                    <label>
                        <span>Teléfono </span>
                        <span *ngIf="f.submitted && f.controls['telefono'].errors" class="text-danger animated fadeIn">*Campo obligatorio</span>
                        <input type="number" name="telefono" [(ngModel)]="usuario.telefono" placeholder="Teléfono" pattern="^[1-9]{1}[0-9]{9}$" onKeyPress="if(this.value.length==10) return false;" required >
                    </label>
                </div>
                <div class="col-sm">
                    <label>
                        <span>Dirección </span>
                        <span *ngIf="f.submitted && f.controls['direccion'].errors" class="text-danger animated fadeIn">*Campo obligatorio</span>
                        <input type="text" name="direccion" [(ngModel)]="usuario.direccion" required placeholder="Dirección">
                    </label>
                </div>
            </div>

            <button class="submit" type="submit">Registrarse</button>
            <div class="text1">
                <a routerLink="/login">¿Ya tienes cuenta? / Inicia sesión</a>
            </div>

        </form>


        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <h2>¿Quieres rentar un auto?</h2>
                    <p>Registrate y eligelo</p>
                </div>
                <div class="img-btn">
                    <span routerLink="/catalog" class="m-up">Catalogo</span>
                </div>
            </div>
        </div>

    </div>
</body>

</html>