<nav class="main-menu">
    <ul>
        <li>
            <img src="\assets\images\log.png" width="30%" height="30%" class="rounded mx-auto d-block mb-3 mt-3">
        </li>

        <li>
            <a href="/home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                        Inicio
                    </span>
            </a>
        </li>
        <li class="has-subnav">
            <a *ngIf="admin==true" href="/usuarios">
                <i class="fa fa-users fa-2x"></i>
                <span class="nav-text">
                        Usuarios registrados
                    </span>
            </a>
        </li>
        <li class="has-subnav">
            <a *ngIf="admin==true" href="/autos">
                <i class="fa fa-wrench fa-2x"></i>
                <span class="nav-text">
                        Gestionar autos
                    </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/catalogo">
                <i class="fa fa-car fa-2x"></i>
                <span class="nav-text">
                        Catálogo de autos
                    </span>
            </a>
        </li>
        <li class="has-subnav">
            <a *ngIf="admin==true" href="/rentas">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                        Ver rentas
                    </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a (click)="salir()">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                        Cerrar sesión
                    </span>
            </a>
        </li>
    </ul>

</nav>